<form class="mt-4" [formGroup]="orderForm">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-3">
      <label for="selectProduct">Product</label>
      <select
        class="form-select"
        id="selectProduct"
        formControlName="productId"
      >
        <option value="">Choose product...</option>
        @for (product of products; track product.id) {
        <option [value]="product.id">
          {{ product.description }} (€{{ printWith2Decimals(product.price) }})
        </option>
        }
      </select>
    </div>

    <div class="col-1">
      <label for="quantity">Quantity</label>
      <input
        class="form-control"
        id="quantity"
        formControlName="quantity"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 d-grid">
      <button
        type="submit"
        class="btn btn-outline-primary rounded-pill mt-4"
        (click)="addProduct()"
      >
        Add product
      </button>
    </div>
  </div>
</form>
