<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Customer</th>
      <th scope="col">Total</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  @if (orders$$ | async; as orders) {
    <tbody>
      @for (order of orders; track order.id) {
        <tr class="clickable" (click)="openOrder(order.id)">
          <th scope="row">{{order.id}}</th>
          <td>{{order.customerName}}</td>
          <td>{{order.total}}</td>
          <td>Draft</td>
        </tr>    
      }
    </tbody>
  }
</table>
