<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="card mb-2">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col">
            <span class="fs-5 fw-bold">{{ productName }}</span
            >&nbsp;<span class="text-body-tertiary">({{ productId }})</span>
          </div>
        </div>
        <div class="row">
          <div class="col">{{ quantity }} x €{{ unitPrice }}</div>
          <div class="col text-end fw-bold">€{{ totalPrice }}</div>
        </div>
        <div class="row"></div>
      </div>
    </div>
  </div>
  <div class="col-1">
    <button
      type="button"
      class="btn btn-light btn-sm rounded-circle"
      (click)="removeProduct()"
    >
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
</div>
