@if (order$$ | async; as order) {
<div class="container">
  <app-order-header-component
    [orderId]="order.id"
    [total]="printWith2Decimals(order.total)"
    (placeOrderClicked$)="placeOrder(order)"
    (backButtonClicked$)="backButtonClicked()"
  >
  </app-order-header-component>

  @for (item of order.items; track item.productId) {
  <app-order-entry-component
    [productName]="getProductName(item.productId)"
    [productId]="item.productId"
    [quantity]="item.quantity"
    [unitPrice]="printWith2Decimals(item.unitPrice)"
    [totalPrice]="printWith2Decimals(item.total)"
    (removeProductClicked$)="removeProductFrom(order, item.productId)"
  ></app-order-entry-component>
  } @if(products$$ | async; as products) {
  <app-add-order-component
    [products]="products"
    [orderForm]="orderForm"
    (addProductClicked$)="addProductTo(order, orderForm.controls['productId'].value ?? '0', parseIntFromFormControl(orderForm.controls['quantity'].value))"
  ></app-add-order-component>
  }
</div>
}
