@if (order$$ | async; as order) {
  <div class="container">
    <a class="link-secondary link-offset-2 link-underline link-underline-opacity-0" [routerLink]="['orders']"><i class="bi bi-arrow-left"></i> Back to orders</a>
    <h2 class="mt-2">Order {{order.id}}</h2>
    <h3>{{order.total}}</h3>
    @for (item of order.items; track item.productId) {
      <div class="row">
        <div class="col-4">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col">
                  <span class="fs-5 fw-bold">{{getProductName(item.productId)}}</span>&nbsp;<span class="text-body-tertiary">({{item.productId}})</span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  {{item.quantity}} x €{{item.unitPrice}}
                </div>
                <div class="col text-end fw-bold">
                  €{{item.total}}
                </div>
              </div>
              <div class="row">
              </div>
            </div>    
          </div>
        </div>  
        <div class="col-1">
          <button type="button" class="btn btn-light btn-sm rounded-circle" (click)="removeProduct(item.productId)"><i class="bi bi-x-lg"></i></button>
        </div>
        <div class="col"></div>
      </div>
    }

    @if(products$$ | async; as products) {
      <form class="row g-3 align-items-center" [formGroup]="orderForm">   
        <div class="col-3">
          <label for="selectProduct">Product</label>
          <select class="form-select" id="selectProduct" formControlName="productId">
            <option value="null">Choose product...</option>
            @for (product of products; track product.id) {
              <option [value]="product.id">{{product.description}} (€{{product.price}})</option>
            }
          </select>
        </div>

        <div class="col-1">
          <label for="quantity">Quantity</label>
          <div class="input-group">
            <input  class="form-control" id="quantity" formControlName="quantity">
          </div>
        </div>
      
        <div class="col">
          <button type="submit" class="btn btn-primary rounded-pill mt-4" (click)="addProduct()">Add product</button>
        </div>
      </form>
    }
  </div>
}
