@if (order$$ | async; as order) {
  <a class="link-secondary link-offset-2 link-underline link-underline-opacity-0" [routerLink]="['orders']"><i class="bi bi-arrow-left"></i> Back to orders</a>
  <h2 class="mt-2">Order {{order.id}}</h2>
  <h3>{{order.total}}</h3>
  @for (item of order.items; track item.productId) {
    <div class="card" style="width:18em">
      <div class="card-header"><span class="fw-bold">Product Name</span>&nbsp;<span class="text-body-tertiary">({{item.productId}})</span></div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            {{item.quantity}} x €{{item.unitPrice}}
          </div>
          <div class="col text-end fw-bold">
            €{{item.total}}
          </div>
        </div>
        <div class="row">
        </div>
      </div>    
    </div>
  }
}
